---
import MainLayout from "@/layouts/MainLayout.astro";
import lang from "@/lang/es.json";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Badge } from "@/components/ui/badge";
---

<MainLayout title="Portafolio">
  <section
    id="Name"
    class="flex flex-col h-screen justify-center bg-fixed bg-image bg-no-repeat bg-cover"
  >
    <div class="text-center text-white">
      <h1 class="font-bold text-6xl">Armando Escobar</h1>
      <h1 class="mt-4 text-4xl">Programmer</h1>
    </div>
  </section>
  <div class="md:container">
    <section id="Skills">
      <h1 class="text-center text-2xl">{lang.skills}:</h1>
      <div class="flex justify-center">
        <Badge>React</Badge>
        <Badge>Java</Badge>
        <Badge>JavaScript</Badge>
        <Badge>HTML</Badge>
        <Badge>CSS</Badge>
        <Badge>Git</Badge>
        <Badge>Spring Boot</Badge>
      </div>
    </section>
    <section id="Learning">
      <h1 class="text-center text-2xl">{lang.startingLearn}:</h1>
      <div class="flex justify-center">
        <Badge>Rust</Badge>
        <Badge>Astro</Badge>
      </div>
    </section>
    <section id="email">
      <h1 class="text-center text-2xl">{lang.contacts}</h1>
      <div class="flex justify-center">
        <div class="flex max-w-sm space-x-2">
          <Input type="email" placeholder="Email" />
          <Button type="submit">{lang.send}</Button>
          <Button type="submit">{lang.copy}</Button>
        </div>
      </div>
    </section>
  </div>
</MainLayout>
