---
import { siteConfig } from "@/config/site";
import { Icons } from "./icons";
const sizeIcon = "size-6";
const hover = "hover:text-slate-400";

import { ModeToggle } from "@/components/ModeToggle";

import { Button } from "@/components/ui/button";
import { DropMenu } from "./DropMenu";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<nav class="backdrop-blur-md bg-black/40 w-screen absolute text-white">
  <div class="sm:container">
    <div class="flex space-x-2 sm:p-1.5 max-sm:p-1">
      <div
        class="flex items-center text-xl font-bold gap-x-3 sm:visible max-sm:collapse"
      >
        <a href="/" class={hover}> Home </a>
        <a href="/projects" class={hover}> Projects </a>
        <!-- <a href="/contacts" class={hover}> Contacts </a> -->
      </div>
      <DropMenu
        sizeIcon={sizeIcon}
        drop="sm:collapse max-sm:visible"
        client:load
      />

      <div class="flex grow justify-center"></div>
      <div class="flex gap-x-3">
        <a href={siteConfig.links.github} target="_blank">
          <Button variant="linkBorderLess" size="icon">
            <Icons.gitHub className={sizeIcon} />
          </Button>
        </a>
        <a href={siteConfig.links.whatsapp} target="_blank">
          <Button variant="linkBorderLess" size="icon">
            <Icons.whatsapp className={sizeIcon} />
          </Button>
        </a>
        <a href={siteConfig.links.curriculum} target="_blank">
          <Button variant="linkBorderLess" size="icon">
            <Icons.curriculum className={sizeIcon} />
          </Button>
        </a>
        <ModeToggle sizeIcon={sizeIcon} client:load />
      </div>
    </div>
  </div>
</nav>
