---
const { frontmatter } = Astro.props;
const { title, description, category, urlGithub, info } = frontmatter;
import { DialogProject } from "./DialogProject";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<article class="flex flex-col">
  <Card>
    <CardHeader>
      <CardTitle className="text-xl">{title}</CardTitle>
    </CardHeader>
    <CardContent>
      <p>{description}</p>
    </CardContent>
    <CardFooter>
      <div class="w-full flex justify-between px-4">
        <DialogProject info={info} program={title} client:load />
        <Button><a href={urlGithub} target="_blank">Link</a></Button>
      </div>
    </CardFooter>
  </Card>
</article>
